@font-face {
  font-family: yofont;
  src: url("/Aoaola1/iconfont/iconfont.woff") format("woff"), url("/Aoaola1/iconfont/iconfont.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/Aoaola1/iconfont/iconfont1.woff") format("woff"), url("/Aoaola1/iconfont/iconfont1.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/Aoaola1/iconfont/iconfont2.woff") format("woff"), url("/Aoaola1/iconfont/iconfont2.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/Aoaola1/iconfont/iconfont3.woff") format("woff"), url("/Aoaola1/iconfont/iconfont3.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/Aoaola1/iconfont/iconfont4.woff") format("woff"), url("/Aoaola1/iconfont/iconfont4.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/Aoaola1/iconfont/iconfont-up.woff") format("woff"), url("/Aoaola1/iconfont/iconfont-up.ttf") format("truetype");
}
